.header {
    padding: 0 16px;
    height: 3.5rem;
}
.logo {
    display: inline-flex;
}
.logo li:nth-child(1) {
    padding-right: 5px;
}
.logo li:nth-child(2) {
    padding-left: 0px;
}
.logo img {
    width: 18px;
    height: auto;
    position: absolute;
}
.logo a {
    text-decoration: none;
    color: #333;
    font-size: 2rem;
    font-weight: 900;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    transition: color 0.3s;
}

.w-content {
    max-width: 800px;
    margin: 0 auto;
}
